[submodule "src/moxie"]
	path = src/moxie
	url = https://github.com/moxiecode/moxie.git
[submodule "tests/js/testrunner"]
	path = tests/js/testrunner
	url = https://github.com/moxiecode/testrunner.git
[submodule "examples/handler-php"]
	path = examples/handler-php
	url = https://github.com/moxiecode/plupload-handler-php.git
